<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.torah.aldis.androidapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".TorahDownloadsApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TorahDownloads">
        <activity android:name=".activities.HomePageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.BaseShiurimPageActivity"
            android:label="@string/shiurim_activity_name"/>
        <activity
            android:name=".activities.ListOfSpeakerPageActivity"
            android:label="@string/speakers_activity_name"/>
        <activity
            android:name=".activities.RecentlyAddedShiurimPageActivity"
            android:label="@string/recently_added_shiurim" />
        <activity
            android:name=".activities.ListOfPlaylistsPageActivity"
            android:label="@string/playlists" />
        <activity
            android:name=".activities.FavoritesPageActivity"
            android:label="@string/favorites" />
        <activity
            android:name=".activities.DownloadsPageActivity"
            android:label="@string/downloads" />
        <activity
            android:name=".activities.ParentCategoriesPageActivity"
            android:label="@string/categories" />
        <activity
            android:name=".activities.HistoryPageActivity"
            android:label="@string/history" />
        <activity
            android:name=".activities.IndividualPlaylistPageActivity"/> <!--label will change on a case-by-case basis-->
        <activity
            android:name=".activities.SubcategoriesPageActivity" /> <!--label will change on a case-by-case basis-->
        <activity
            android:name=".activities.TestingActivity"
            android:label="Testing Activity" />
        <activity
            android:name=".activities.ParallelNestedScrollingActivity"
            android:label="Testing Activity" />
        <activity
            android:name=".activities.IndividualSpeakerPageActivity"
            android:label="Testing Activity" />
    </application>

</manifest>